*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 135px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: .5s;    
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 20px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}


@media(max-width: 700px)
{
   .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: fixed;
        background: linear-gradient(#4e431b64, #4e431b00);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    .text-box h1{
        font-size: 20px;
    }
}

/*---------- index --------*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    margin-left: 7px;
}
h2{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
  
.course-col{
    flex-basis: 45%;
    background: rgb(145, 155, 187);
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: right;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width:700px){
    .row{
        flex-direction: column;
    }
} 

/*--------------Discussion-----------*/
.discussion{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

/*--------------Footer---------------*/

.footer{
    text-align: center;
    width: 50%;
    padding: 50px 0;
    margin: 0 auto;
}
.footer h4{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}


/*--------------- Travel --------------*/

.travels{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.img_submit{
    background: rgb(145, 155, 187);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    font-size: 12px;
}


.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: rgb(255, 255, 255);
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.hero-btn.red-btn{
    border-radius: 10px;
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.hero-btn.red-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    color: #fff;
}
.hero-btn.red-btn::after{
    background: #f44336;
}
.hero-btn.red-btn::before{
    background: #f44336;
}
.content-image{
    flex-basis: 50%;
}
.about-col img{
    width: 100%;
}

/*---------- User Profile Page -------------*/

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-right{
    flex-basis: 32%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}

.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box{
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}


@media (max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
} 

/* post styles */
#post-builder{
    display: none;
  }
#post_body{
    margin-left: 20px;
    margin-right: 20px;
    flex-basis: 45%;
    background: rgb(145, 155, 187);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}

#post_header{
    text-align: center;
    color: rgb(218, 211, 157);
    size: 24px;
    text-indent: 0px;
}

#post_info{
    text-align: justify;
    color: rgb(57, 66, 40); 
    text-indent: 0px;
}

#new_post_button{
    background: rgb(145, 155, 187);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    font-size: 12px;
}